<!DOCTYPE html>
<html>
<head>
    <title>Node.js express mongDB CRUD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<script type="text/javascript">
    function valiadate(){
        var modelnumber = document.getElementById('modelnumberid').value;
        var itemtype = document.getElementById('itemtypeid').value;
        var company = document.getElementById('companyid').value;
        var quantity = document.getElementById('quantityid').value;
        var mrp = document.getElementById('mrpid').value;
  
        if(modelnumber == "" || itemtype == "" || company == "" || quantity == "" || mrp == ""){
            document.getElementById('text-danger').innerHTML = "Please fill all the fields properly"
            return false
          }else {
              return true
          }
      }
  </script>
<body class="bg-info">
    <div class="row">
        <div class="col-md-6 offset-md-3" style="background-color: #fff;margin-top: 25px;padding:20px;">
          <h3>Edit and Update</h3>
          <div id="text-danger" style="color: red;"></div>

<form action="/users/EditStock" method="POST" autocomplete="off" onsubmit="return valiadate()">
  <input type="hidden" name="_id" value="<%= attributes.id %>">
  <div class="form-group">
      <label>Model Number</label>
      <input type="text" id="modelnumberid" class="form-control" name="Modelnumber" placeholder="Modelnumber" value="<%= attributes.Modelnumber %>">
  </div>
  <div class="form-group">
      <label>Item-type</label>
      <input type="text" id="itemtypeid" class="form-control" name="Itemtype" placeholder="Itemtype" value="<%= attributes.Itemtype %>">
  </div>
  <div class="form-group">
      <label>Company</label>
      <input type="text" id="companyid" class="form-control" name="Company" placeholder="Company" value="<%= attributes.Company %>">
  </div>

  <div class="form-group">
      <label>Quantity</label>
      <input type="text"  id="quantityid" class="form-control" name="Quantity" placeholder="Quantity" value="<%= attributes.Quantity %>">
  </div>
  <div class="form-group">
      <label>MRP</label>
      <input type="text" id="mrpid" class="form-control" name="Mrp" placeholder="Mrp" value="<%= attributes.Mrp %>">
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
  </div>
